<div class="auth-container">
  
  <div class="brand-header">
    <div class="logo-box">
      <span class="material-symbols-outlined">school</span>
    </div>
    <h1>Moodle V2</h1>
  </div>

  <div class="auth-card">
    
    <div class="auth-tabs">
      <button class="tab" routerLink="/login">Login</button>
      <button class="tab active">Register</button>
    </div>

    <div class="auth-body">
      
      <div class="text-center">
        <h2>Create Account</h2>
        <p class="subtitle">Join your classmates on Moodle V2.</p>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="auth-form">
        
        <label>
          <span class="label-text">First Name</span>
          <div class="input-wrapper">
            <span class="material-symbols-outlined icon">person</span>
            <input 
              type="text" 
              formControlName="firstName"
              placeholder="Jane"
              [class.error]="firstName.invalid && (firstName.dirty || firstName.touched)"
            >
          </div>
          <span class="error-text" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            First name is required
          </span>
        </label>

        <label>
          <span class="label-text">Last Name</span>
          <div class="input-wrapper">
            <span class="material-symbols-outlined icon">person</span>
            <input 
              type="text" 
              formControlName="lastName"
              placeholder="Doe"
              [class.error]="lastName.invalid && (lastName.dirty || lastName.touched)"
            >
          </div>
          <span class="error-text" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            Last name is required
          </span>
        </label>

        <label>
          <span class="label-text">University Email</span>
          <div class="input-wrapper">
            <span class="material-symbols-outlined icon">mail</span>
            <input 
              type="email" 
              formControlName="email"
              placeholder="student@university.edu"
              [class.error]="email.invalid && (email.dirty || email.touched)"
            >
          </div>
          <span class="error-text" *ngIf="email.invalid && (email.dirty || email.touched)">
            Valid email is required
          </span>
        </label>

        <label>
          <span class="label-text">Password</span>
          <div class="input-wrapper">
            <span class="material-symbols-outlined icon">lock</span>
            <input 
              [type]="hidePassword ? 'password' : 'text'" 
              formControlName="password"
              placeholder="Create a password"
              [class.error]="password.invalid && (password.dirty || password.touched)"
            >
            <button type="button" class="toggle-pass" (click)="hidePassword = !hidePassword">
                <span class="material-symbols-outlined">{{ hidePassword ? 'visibility_off' : 'visibility' }}</span>
            </button>
          </div>
          <span class="error-text" *ngIf="password.invalid && (password.dirty || password.touched)">
            Min 8 characters required
          </span>
        </label>

        <label>
          <span class="label-text">Confirm Password</span>
          <div class="input-wrapper">
            <span class="material-symbols-outlined icon">lock_reset</span>
            <input 
              [type]="hideConfirmPassword ? 'password' : 'text'" 
              formControlName="confirmPassword"
              placeholder="Confirm your password"
              [class.error]="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
            >
             <button type="button" class="toggle-pass" (click)="hideConfirmPassword = !hideConfirmPassword">
                <span class="material-symbols-outlined">{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</span>
            </button>
          </div>
          <span class="error-text" *ngIf="confirmPassword.errors?.['passwordMismatch'] && (confirmPassword.dirty || confirmPassword.touched)">
            Passwords do not match
          </span>
        </label>

        <button type="submit" class="submit-btn" [disabled]="registerForm.invalid">
          Create Account
        </button>

      </form>

    </div>

    <div class="auth-footer">
      <p>Already have an account? <a routerLink="/login">Log in</a></p>
    </div>

  </div>

  <p class="copyright">© 2025 Gheorghe Asachi Technical University of Iaşi.</p>

</div>